<div class="weather-section">
  <div class="display-card">
    <p>City: <%= place %> </p>
    <%= tempCelcius %>&#8451; | <%= tempFahrenheit %>&#8457;
    <img src="<%= iconUrl %>" alt="Weather icon">
    <%= desc %>
  </div>
</div>